*{
    box-sizing: border-box;
}
body{
    /* 全体の横幅 */
    width: 320px;
    /* 全体を中央寄せ */
    margin: auto;
    /* 全体の余白 */
    padding: 10px;
    
    background-color: #00b5de;
}

/* 数字 */
h1{
    margin: 20px auto 0px auto;
    
    /* 文字の太さ */
    font-weight: 600;
    
    /* 文字の大きさ */
    font-size: 100px;
    
    /* 文字の色 */
    color: #edda15;
    
    /* 文字を中央寄せ */
    text-align: center;
    
    /* 横幅 */
    width: 200px;
    
    /* 縦幅 */
    height: 200px;
    line-height: 170%;
    
    /* 枠の太さ 線の種類 色 */
    border: 10px solid #d8d8d8;
    
    /* 枠を丸くする */
    border-radius: 50%;
    
}

/* ボタン共通 */
input{
    border: 0;
    background: none;
    display: block;
    margin: auto;
    
    width: 80%;
    text-align: center;
    
    /* 上との余白 */
    margin-top: 20px;
    
    /* 文字の大きさ */
    font-size: 20px;
}

/* プラスボタン */
input[value="+"]{
    
    /* 文字の色 */
    color: #d8d8d8;
    
    /* 背景 */
    background: #e94c4d;
    
    
}

/* マイナスボタン */
input[value="-"]{
    color: #d8d8d8;
    background: #c2ca2e;
}

/* clearボタン */
input[value="clear"]{
    color: #d8d8d8;
    background: #f8d516;
}

/* deleteボタン */
input[value="delete"]{
    color: #d8d8d8;
    background: #333333;
    
    margin-bottom:10px;
}

/* 新規カウントボタン */
input[value="New Counter"]{
    color: #d8d8d8;
    background: #d01026;
    
    margin-bottom:10px;
}